<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <!--定义Spring的配置的位置，可以定义多个配置文件，可以使用通配符。  -->
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/applicationContext*.xml</param-value>
 </context-param>
 <filter>
  <filter-name>CharacterEncodingFilter</filter-name>
  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  <init-param>
   <param-name>encoding</param-name>
   <param-value>utf-8</param-value>
  </init-param>
 </filter>
 <!--解决Hibernate延迟加载出现的问题，需要放到struts2过滤器之前-->
 <filter>
  <filter-name>lazyLoadingFilter</filter-name>
  <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
 </filter>
 <!--Struts2的过滤器，使用Struts2，必须配置该项-->
 <filter>
  <filter-name>struts2</filter-name>
  <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
 </filter>
 
 <filter-mapping>
  <filter-name>CharacterEncodingFilter</filter-name>
  <url-pattern>*</url-pattern>
 </filter-mapping>
 <!--解决Hibernate延迟加载出现的问题，仍需要放到struts2过滤器mapping之前-->
 <filter-mapping>
  <filter-name>lazyLoadingFilter</filter-name>
  <url-pattern>*</url-pattern>
 </filter-mapping>
 <!--Struts2的过滤器，配套的filter-mapping-->
 <filter-mapping>
  <filter-name>struts2</filter-name>
  <url-pattern>*</url-pattern>
 
 </filter-mapping>
 <!--设置一起动当前的Web应用，就加载Spring，让Spring管理Bean-->
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
